.Playlist {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
}

.SaveButton {
  margin: 0 auto;
}

.scale-up {
  animation: scaleUp 0.3s ease-in-out forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
